name: AQI App

on:
  workflow_dispatch:

jobs:
  app:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install deps
      run: |
        pip install -r requirements.txt

    - name: Run API & Dashboard
      env:
        HOPSWORKS_API_KEY: ${{ secrets.HOPSWORKS_API_KEY }}
      run: |
        uvicorn app.api:app --host 0.0.0.0 --port 8000 &
        streamlit run app/dashboard.py
