name: Training Pipeline

on:
  schedule:
    - cron: "*/5 * * * *"   # daily at 2am
  workflow_dispatch:

jobs:
  train-job:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install deps
      run: pip install pandas scikit-learn joblib

    - name: Run training
      run: python scripts/aqi_training.py
